<div class="container color-dark">
    
    <div class="col">

        <p class="section-title">skills items</p>

    </div>

</div>
<div class="container color-light">
    
    <div class="col">
        
        <form>
            <input type="text" class="txt" name="skill" placeholder="skill" [(ngModel)]="mySkills.skill"> <br>
            <input type="text" class="txt" name="porcentage" placeholder="porcentage (00)" [(ngModel)]="mySkills.porcentage"> <br>


            <input type="submit" class="btn" value="{{ btntxt }}" (click)="AgregarJob()">
        </form>
    </div>

    <div class="o-list">
        <div class="o-item" *ngFor="let job of skills">
          <span>{{job.skill}} - {{job.porcentage}}</span>
          <button class="delete-btn" (click)="deleteJob(job.id)">delete</button>
          <button class="edit-btn" (click)="edit(job)">update</button>
        </div>
    </div>   

</div>
