<div class="container color-dark">
    
    <div class="col">

        <p class="section-title">interests items</p>

    </div>

</div>
<div class="container color-light">
    
    <div class="col">
        
        <form>
            <input type="text" class="txt" name="description" placeholder="description" [(ngModel)]="myInterests.desciption"> <br>

            <input type="submit" class="btn" value="{{ btntxt }}" (click)="AgregarJob()">
        </form>
    </div>

    <div class="o-list">
        <div class="o-item" *ngFor="let job of interests">
          <span>{{job.desciption}}</span>
          <button class="delete-btn" (click)="deleteJob(job.id)">delete</button>
        </div>
    </div>   

</div>